html.login,
html.login body {
  background-color: #888;
}
html.login form {
  margin-bottom: 0;
}
html.login div.modal {
  position: relative;
  margin: 48px auto;
  top: 0;
  left: 0;
}
i{ font-style:normal}
i.consuming.three{
  font-weight: bold; 
}
i.consuming.seven{
  font-weight: bold;
  color: red; 
}

#modal-recovery {
  display: none;
}
.dropdown-menu {
  display: none;
}
.container.top {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 80px);
}
.center {
  text-align: center;
}
form.search {
  margin: 0 0;
}
.list-page h2 a {
  float: right;
}
.crud-actions {
  width: 158px;
}

#footer {
  margin:30px 0 30px 0;
  background-color: #fff;
  background-repeat: no-repeat;
}

body.login #footer hr {
  display: none;
}

#footer p a {
  font-weight: bold;
}

#footer p {
  margin-bottom: 0;
}
#footer p.right {
  float: right;
}

.navbar-fixed-top .brand {
  color: #000000;
  float: right;
  font-weight: bold;
  margin-left: 20px;
  padding-left: 0;
  padding-right: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
}

.plain-form {
  margin: 0 0;
}

.progress-form-file {
  margin: 18px 0;
  width: 260px;
}

.users-header a {
  float: right;
}

.reset-margin{
  margin: 0;
}

.pagination{
  text-align: center;
} 

/* label{
  margin: 0 20px;
} 

form label:first-child{
  margin: 0 20px 0 12px;
}  */
input{
  box-shadow: none;
}
.container.login {
  margin-top: 60px;
}
.sidebar-nav {
  padding: 9px 0;
}

.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.file {
  position: relative;

}
.file input {
  position: absolute;
  font-size: 0;
  right: 0;
  top: 0;
  opacity: 0;
  bottom: 0;
  left: 0;
}
.file:hover {
  background: #AADFFD;
  border-color: #78C3F3;
  color: #004974;
  text-decoration: none;
}
.content-table{
  margin-top: 20px;
}
.table-bordered{
 flex: 1;
}

ul,
li {
  list-style: none;
  margin: 0;
}
.table-bordered  ul {
  display: flex;
  border-bottom:1px solid #eaeaea; 
}
/* .table-bordered  ul {
  display: flex;
  border-bottom:1px solid #eaeaea; 
} */
.order-title{
  height: 40px;
  line-height: 40px;
}
.order-title span{
  margin-left: 10px;
}
li.header{
  height: 40px;
  line-height: 40px;
  /* padding-left: 10px; */
  text-align: center;
  display: inline;
  padding: 0 10px !important;
  flex: 1;
}
li.header:nth-child(3) span{
  /* margin-left: 5px; */
}
.positionit-item{
  display: flex;
  flex-direction: row;
}
#top-header{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: 1;

}

.btns{
  display: flex;

}
.btns span{
  display: block;
  height: 100%;
  padding: 0 5px;
  color: blue;
  cursor: pointer;
}
.icon-imgs img{
  width: 25px;

}

.table-bordered  ul li p{
  margin: 0;
  line-height: 20px;
  flex-wrap: wrap;
  width: 100%;
}
.table-bordered  ul li{
  /* display: flex; */
  padding:10px;
 flex: 1;
 /*border-right:1px solid #eaeaea; */
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 overflow: hidden;
}
.table-bordered  ul li:last-child{
  border: none;
  max-width: 60px;
  
  
}
.table-bordered  ul li:first-child{
  max-width: 100px;
  display: flex;
  align-items: center;
  
}
.table-bordered  ul li:nth-child(5){
  max-width: 140px;
}
.table-bordered  ul li:nth-child(4){
  /* max-width: 120px; */
}
.table-bordered  ul li:nth-child(2){
 flex: 1;
 min-width: 200px;
}
.order-list li{
  flex: 1;
   
}
.order-list .el-button+.el-button {
  margin-left: 0;
  margin: 10px 0;
}


.table-bordered  ul li:last-child{
  border: none;
  max-width: 60px;
  
  
}
.table-bordered  ul li:last-child.two{
  border: none;
  max-width:300px !important;
  
  
}

li.header:nth-child(2){
  max-width: 300px;
}
.content-table{
  flex: 1;
  /* overflow-y: scroll; */
  display: flex;
}
.content-table .table-bordered{
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;


}
.content-table .table-bordered .scroll{
  /* flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y:scroll;  */
  
  position: relative;
}
li.header:last-child{
  /* margin-right: 17px; */
}

.imgs{
  position: relative;

}
.imgs .imgs2{
  width: 300px;
  position: absolute;
  left: 120px;
  display: none;
  max-width: 400px;
  top: -150px;
}
.imgs:hover .imgs2{

  display: block;

}
.scroll .first{
  overflow: visible; 
}
.menu .el-radio-group{
  display: flex;
  flex-direction: column;
}
.menu .el-radio-group .el-radio-button__inner{
 width: 100%;
 height: 100%;
 margin: 0;
 border: none !important;
 border-radius:5px !important; 
}
.el-form-item--mini button {
  /* display: flex;
  align-items: center;
  margin-left: 20px; */
  margin-top: -8px;
}
.el-loading-spinner .el-icon-loading{

 font-size: 40px;
}
.el-loading-text{
  margin-top: 20px;
   color: #000000 !important;
   font-size:18px !important; 
}
.span-checkbox{
  margin: 0 ;
}
.span-checkbox span{
  margin: 0 !important;
  
}
.span-checkbox.header{
  display: flex;
  align-items: center;
  display: block;

}
.span-checkbox.header .el-checkbox{
  margin: 0 !important;
}
.positionit{
overflow: visible !important;
display: flex;
flex-direction: row !important;
justify-content: flex-start !important;
align-items: center !important;
}
.positionit .el-checkbox{
  margin: 0 !important;
}
.el-form-item--mini.el-form-item{
  margin-bottom: 0px !important;
}
.app form{
  margin-bottom: 5px;
}
.controller{
  margin-top: 20px;
  /* display: flex;
  align-items: center; */
}
.controller .ctrl1 {
  width: 280px;
  margin-right: 50px;
  float: left;
}
.controller .ctrl2{
  float: right;
}
.num{
  display: flex;
  align-items: center;
 
}
.num span{
  margin:0 5px;
}

ul.tops{
  display: flex;
}
ul.tops .header{
  flex: 1;
  overflow: hidden;
}
.copyInput {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
}
#copyId {
  opacity: 0;
  position: absolute;
  left: -1000px;
}
.header.first.positionit:nth-child(1) {
  overflow: hidden;
}
.header.first.positionit:nth-child(1) span {
  /* overflow: hidden; */
  cursor: pointer;
}
#footer {
  position: fixed;
  width: 40px;
  right: 20px;
  margin-left: -70px;
  top: 90%;
}
#footer p {
  /* 	
position: fixed;
right: 100px;
top: 50%; */
}
#footer img {
  width: 40px;
}
.pre {
  display: block;
  width: 22px;
  height: 22px;
  background: #999;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.pre b{
  font-size:10px; 
}
#uploadOrder{
  width: 100%;
  height: 100%;
}
.el-popup-parent--hidden {
  overflow: visible !important; 
  overflow-x:hidden !important; 
}
.el-loading-parent--hidden {
  overflow: visible !important; 
  overflow-x:hidden !important;
}
.header.positionit:nth-child(2) span.positionit-item{
  display: block;
  width: 170px;
  overflow: hidden;
  text-align: left;
  line-height: 20px;
  display: flex;
  justify-content: flex-start;
}
.header.positionit:nth-child(2) span.positionit-item span{
  display: inline-block;
  overflow: hidden;
  max-width: 120px;
  overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}